.companydetails {
  padding: 0 5rem;
  // background: rgba(0, 0, 0, 0.05);
  h3 {
    font-size: 3rem;
    text-align: center;
    margin-top: 5rem;
    text-transform: uppercase;
    // background: linear-gradient(to right, #ff0000, #e98227, #ff7700, #e20606);
    background: #ff7700;
    background-clip: text;
    color: transparent;
    letter-spacing: 0.1rem;
    // text-decoration: underline 0.5rem double;
    line-height: 3rem;
    // text-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.1);
    margin-top: 6rem;
    // margin-bottom: 5rem;

    &:hover {
      transform: skew(15deg, 1deg);
    }
  }
}

.about-company__card {
  background: rgba(255, 255, 255, 0.8);
  // padding: 2rem 3rem;
  margin-top: 3rem;
  // display: flex;
  position: relative;
  transition: 0.6s linear;
  .card_pic {
    img {
      width: 60%;
      height: 25rem;
      // border: solid 0.8rem rgba(236, 127, 31, 0.1);
      // border-radius: 0.5rem;
      transition: 0.3 linear;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .card_write {
    position: absolute;
    top: 50%;
    background: rgba(255, 251, 251, 0.8);
    border-right: 1rem solid rgba(0, 0, 0, 1);
    border-bottom: #000000 0.1rem solid;
    border-top: #000000 0.3rem solid;
    padding: 1rem;
    // border-bottom-right-radius: 5rem;
    width: 60%;
    right: 0;
    transform: translate(-10%, -50%);
    // border: #000000 0.1rem solid;
    h4 {
      color: transparent;
      background: linear-gradient(to right, #ff0000, #e98227, #ff7700, #e20606);
      background-clip: text;
      font-size: 2rem;
      margin-bottom: 0;
      text-transform: uppercase;

      &:hover {
        transform: skew(15deg, 0.1deg);
      }
    }

    p {
      color: #000000;
      font-size: 1.6rem;
      // font-weight: 700;
      margin-top: 0.5rem;
      font-family: "Staatliches", cursive;
    }
  }

  &:hover {
    transform: translateY(-0.5rem);
  }
}

.about-company {
  // background: rgba(255, 252, 252, 0.7);

  padding: 0.01rem 2rem;
}

@media (max-width: 950px) {
  .about-company__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -5rem;

    .card_write {
      position: relative;
      border-bottom-right-radius: 0;
      width: 100%;
      // height: 30rem;
    }

    .card_pic {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  .companydetails {
    padding: 0 1rem;
  }

  .about-company__card {
    .card_write {
      // text-align: end;
      margin-left: 5rem;
    }
  }
}
